@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.frame1 {
  height: 1200px;
  width: 1600px;
  border-radius: 0px;
  position: relative;
   width: 1600px;
  height: 1200px;
  background: #101E42;
}
.frame1-rectangle1{
  height: 1024px;
width: 1440px;
left: 80px;
top: 96px;
border-radius: 20px;
position: absolute;
width: 1440px;
height: 1024px;
left: 80px;
top: 96px;

background: rgba(0, 0, 0, 0.5);
border-radius: 20px;

}
.frame1-reactangele1-logo{
position: absolute;
height: 82px;
width: 62px;
left: 202px;
top: 166px;
border-radius: [object Object]px;

}
.frame1-rectangle1-rectangle2{
  position: absolute;
width: 614px;
height: 72px;
left: 493px;
top: 171px;

background: linear-gradient(186.53deg, rgba(164, 200, 255, 0.04) 29.16%, rgba(164, 200, 255, 0) 155.19%);
mix-blend-mode: normal;
filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
backdrop-filter: blur(10px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 20px;
}
.frame1-rectangle1-group1-vector{
  position: absolute;
  height: 3px;
  width: 3px;
  left: 536px;
  top: 218px;  
  border: 2px solid #FFFFFF;
  

}
.frame1-rectangle1-group1-vector-circle{
  position: absolute;
  height: 25px;
  width: 25px;
  left: 515px;
  top: 193px;

  border: 2px solid #FFFFFFCC;
 border-radius: 50%;}
 .frame1-rectangle1-search-text{
  position: absolute;
width: 56px;
height: 97px;
left: 772px;
top: 158px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 536.69%;
/* identical to box height, or 97px */

text-align: center;

color: #FFFFFF;

opacity: 0.3;
text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
 }
 .frame1-rectangle1-dropdown{
  position: absolute;
  width: 26px;
  height: 33px;
 left:1300px;
 top:197px;


 }
 .drop{
  background-color: #101E42;
 
 }
 .frame1-rectangle1-rectangle54{
  position: absolute;
width: 260px;
height: 391px;
left: 115px;
top: 422px;

background: linear-gradient(180deg, rgba(221, 222, 224, 0.04) 0%, rgba(222, 223, 224, 0.04) 100%);
mix-blend-mode: normal;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(10px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 20px;
 }
 .frame1-rectangle1-topics{
  position: absolute;
width: 54px;
height: 97px;
left: 206px;
top: 402px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 536.69%;
/* identical to box height, or 97px */

text-align: center;

color: #FFFFFF;

opacity: 0.7;
text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
 }
.frame1-rectangle1-game-vector{
  position: absolute;
  height: 11px;
  width: 22px;
  left: 177px;
  top: 493px;
  border-radius: 0px;
  
background: #B5B7BC;
}
.frame1-rectangle1-game-vector-text{
  position: absolute;
width: 63px;
height: 97px;
left: 209px;
top: 450px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 536.69%;
/* identical to box height, or 97px */

text-align: center;

color: #FFFFFF;

opacity: 0.7;
text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.frame1-rectangle1-sport-vector-text{
  position: absolute;
  width: 53px;
  height: 97px;
  left: 212px;
  top: 504px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 536.69%;
  /* identical to box height, or 97px */
  
  text-align: center;
  
  color: #FFFFFF;
  
  opacity: 0.7;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.frame1-rectangle1-television-vector-text{
  position: absolute;
width: 81px;
height: 97px;
left: 212px;
top: 553px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 536.69%;
/* identical to box height, or 97px */

text-align: center;

color: #FFFFFF;

opacity: 0.7;
text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.frame1-rectangle1-television-vector{
  position: absolute;
left: 11.06%;
right: 87.56%;
top: 49.42%;
bottom: 49.08%;

background: #B5B7BC;
}
.frame1-rectangle1-celebrity-vector-text{
  position: absolute;
width: 71px;
height: 97px;
left: 212px;
top: 606px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 536.69%;
/* identical to box height, or 97px */

text-align: center;

color: #FFFFFF;

opacity: 0.7;
text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.frame1-rectangle1-business-vector-text{
  position: absolute;
width: 73px;
height: 97px;
left: 212px;
top: 659px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 536.69%;
/* identical to box height, or 97px */

text-align: center;

color: #FFFFFF;

opacity: 0.7;
text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.frame1-rectangle1-more-vector-text{
  position: absolute;
width: 42px;
height: 97px;
left: 213px;
top: 712px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 536.69%;
/* identical to box height, or 97px */

text-align: center;

color: #FFFFFF;

opacity: 0.7;
text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}